[submodule "management-system"]
	path = management-system
	url = https://github.com/RLCO/management-system.git
	branch = 12.0
[submodule "manufacture"]
	path = manufacture
	url = https://github.com/RLCO/manufacture.git
	branch = 12.0
[submodule "manufacture-reporting"]
	path = manufacture-reporting
	url = https://github.com/RLCO/manufacture-reporting.git
	branch = 12.0
[submodule "margin-analysis"]
	path = margin-analysis
	url = https://github.com/RLCO/margin-analysis.git
	branch = 12.0
[submodule "mis-builder"]
	path = mis-builder
	url = https://github.com/RLCO/mis-builder.git
	branch = 12.0
[submodule "misc-addons"]
	path = misc-addons
	url = https://github.com/RLCO/misc-addons.git
	branch = 12.0
[submodule "miscellaneous"]
	path = miscellaneous
	url = https://github.com/RLCO/miscellaneous.git
	branch = 12.0
[submodule "mrp_subcontracting-backport"]
	path = mrp_subcontracting-backport
	url = https://github.com/RLCO/mrp_subcontracting-backport.git
	branch = 12.0
[submodule "muk_base"]
	path = muk_base
	url = https://github.com/RLCO/muk_base.git
	branch = 12.0
[submodule "muk_bundles"]
	path = muk_bundles
	url = https://github.com/RLCO/muk_bundles.git
	branch = 12.0
[submodule "muk_dms"]
	path = muk_dms
	url = https://github.com/RLCO/muk_dms.git
	branch = 12.0
[submodule "muk_misc"]
	path = muk_misc
	url = https://github.com/RLCO/muk_misc.git
	branch = 12.0
[submodule "muk_web"]
	path = muk_web
	url = https://github.com/RLCO/muk_web.git
	branch = 12.0
[submodule "muk_website"]
	path = muk_website
	url = https://github.com/RLCO/muk_website.git
	branch = 12.0
[submodule "multi-company"]
	path = multi-company
	url = https://github.com/RLCO/multi-company.git
	branch = 12.0
[submodule "multi-store"]
	path = multi-store
	url = https://github.com/RLCO/multi-store.git
	branch = 12.0
[submodule "odoo-academic"]
	path = odoo-academic
	url = https://github.com/RLCO/odoo-academic.git
	branch = 12.0
[submodule "odoo-addons-cae"]
	path = odoo-addons-cae
	url = https://github.com/RLCO/odoo-addons-cae.git
	branch = 12.0
[submodule "odoo-addons-hr-incubator"]
	path = odoo-addons-hr-incubator
	url = https://github.com/RLCO/odoo-addons-hr-incubator.git
	branch = 12.0
[submodule "odoo-addons-multi-company"]
	path = odoo-addons-multi-company
	url = https://github.com/RLCO/odoo-addons-multi-company.git
	branch = 12.0
[submodule "odooapps"]
	path = odooapps
	url = https://github.com/RLCO/odooapps.git
	branch = 12.0
[submodule "odoo-mooncard-connector"]
	path = odoo-mooncard-connector
	url = https://github.com/RLCO/odoo-mooncard-connector.git
	branch = 12.0
[submodule "odoo-py3o-report-templates"]
	path = odoo-py3o-report-templates
	url = https://github.com/RLCO/odoo-py3o-report-templates.git
	branch = 12.0
[submodule "partner"]
	path = partner
	url = https://github.com/RLCO/partner.git
	branch = 12.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/RLCO/partner-contact.git
	branch = 12.0
[submodule "pos"]
	path = pos
	url = https://github.com/RLCO/pos.git
	branch = 12.0
[submodule "product"]
	path = product
	url = https://github.com/RLCO/product.git
	branch = 12.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/RLCO/product-attribute.git
	branch = 12.0
[submodule "product-pack"]
	path = product-pack
	url = https://github.com/RLCO/product-pack.git
	branch = 12.0
[submodule "product-variant"]
	path = product-variant
	url = https://github.com/RLCO/product-variant.git
	branch = 12.0
